@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.react-css-collapse-transition {
  transition: height 250ms;
  /*transition: height 250ms cubic-bezier(.4, 0, .2, 1);*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* https://stackoverflow.com/a/53245657/181850 */
.ratio {
  display: grid;
}
.ratio > * {
  grid-area: 1/1/1/1;
}
