
.Player .Preview img {
  width: 100%;
}
.Player .Preview .meta {
  padding: 1rem;
}

.Clips {
  background-color:#2c2c2c ;
}

.Clips .Track {
  color: white;
}
.Clips .Track:last-child {
  border-bottom: 0;
}
.Clips .Track > .title {
  font-size: 1.2rem;
  padding: 8px;
}

.Clips .Clip .meta {
  flex-grow: 1;
}
.Clips .Clip .title  {
  font-size: 1rem;
  margin: 0;
}
.Clips .Clip .keyboard {
  display: flex;
  flex-direction: column;
}
.Clips .Clip .keyboard > span {
  background-color: black;
  color: white;
  padding: 1rem;
  width: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2rem;
  margin-right: 0.5rem;
}
