.App .Sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 350px;
  background-color: rgb(109, 109, 109);
}

.Sidebar .main {
  flex-grow: 1;
  overflow-y: scroll;
}

.Sidebar header {
  padding: 1rem;
}
.Sidebar .play-logo {
  width: 100%;
}

.Sidebar > .actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}
.Sidebar .actions button {
  font-size: 0.9rem;
  color: #00ff00;
  margin-left: 1rem;
  white-space: nowrap;
}
