
.Header .navigation {
  display: flex;
  flex-direction: row;
  margin: 2px 0 2px 0;
}
.Header .navigation {
  margin: 0.5rem 0.25rem;
  opacity: 0.8;
}
.Header .navigation:hover {
  opacity: 1;
}

.Header .icon {
  margin: 0 0.5rem 0 2px;
}
.Header .navigation h1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

/* in mobile, the header fills all the space */
.Header .logo {
  margin: 0.25rem;
}

/* in desktop, the header logo has space for scrollbars */
@media (orientation: landscape) {
  .Header .logo {
    margin: 0.25rem 1.25rem 0.25rem 0.25rem;
  }
}

.Header .logo img {
  max-height: 3rem;
}