
.Markdown {
  background-color: #505050;
  color: #eee;
}

.Markdown h2   {
  margin-top: 1rem;
}

.Markdown p {
  margin-bottom: 1rem;
}

.Markdown a {
  color: white;
  text-decoration: underline;
}

.Markdown iframe {
  margin: 1rem auto;
}

.Markdown.hidden {
  display: none;
}
