@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red !important;
}

.visuals .visuals-display {
  height: calc(100vw * (9 / 16));
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:focus {
  @apply outline-none;
}

.react-css-collapse-transition {
  transition: height 250ms;
  /*transition: height 250ms cubic-bezier(.4, 0, .2, 1);*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* https://stackoverflow.com/a/53245657/181850 */
.ratio {
  display: grid;
}
.ratio > * {
  grid-area: 1/1/1/1;
}

.HtmlContent h2 {
  margin-top: 1rem;
}

.HtmlContent > *:first-child {
  margin-top: 0;
}

.HtmlContent p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.HtmlContent li {
  list-style: disc inside;
}

.HtmlContent ol {
  margin-left: 1rem;
}

.HtmlContent a {
  /* color: #ef7c0c; */
  color: #ed8936;
}

.HtmlContent iframe {
  margin-bottom: 1rem;
}

.HtmlContent.hidden {
  display: none;
}
