.App .Sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 350px;
  background-color: rgb(109, 109, 109);
}

.Sidebar .main {
  flex-grow: 1;
  overflow-y: scroll;
}

.Sidebar .play-logo {
  padding: 1rem;
  width: 280px;
}

.Sidebar > .actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
}
.Sidebar .actions button {
  font-size: 0.9rem;
  color: #00ff00;
  margin-left: 1rem;
}
