.Explorer .main > .title {
  max-width: 300px;
  display: block;
  padding: 10px;
  overflow: hidden;
}
.Explorer .Track {
  padding: 10px 0 10px 10px;
  margin: 0 0 1rem 0;
}

.Explorer .Track:last-child {
  margin: 0;
}
