.Explorer h1 {
  padding: 1rem;
}
.Explorer .Track {
  padding: 1em;
  margin: 1rem 0;
}

.Explorer .Track img {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.Track .Clip {
  display: flex;
  width: 200px;
  opacity: 0.9;
}
.Track .Clip.active {
  background-color: white;
}

.Track .Clip .keyMap {
  width: 100%;
  line-height: 100px;
  font-size: 3rem;
  text-align: center;
  color: black;
  opacity: 0.3;
}
