.Project .content, .Project .content .Markdown {
  background-color: #444444;
}

.Project .Audiosets .Item {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #6a6a6a;
  margin-bottom: 10px;
  padding-right: 1rem;
}
.Project .Audiosets .Item .image {
  width: 34%;
  height: auto;
  max-width: 256px;
  max-height: 256px;
  flex-shrink: 0  ;
  margin-right: 1rem;
}
.Project .Audiosets .Item p {
  max-height: 4.5rem;
  overflow: hidden;
}
.Project .visuals .Markdown {
  padding: 1rem;
  height: 100%;
}
