.TrackList .Clip {
  cursor: pointer;
  color: #333;
  opacity: 0.95;
}
.TrackList .Clip:hover {
  opacity: 1;
}
.TrackList .Clip .meta {
  flex-grow: 1;
}
.TrackList .Clip .title {
  font-size: 1rem;
  margin: 0;
}

.TrackList .Clip.open .HtmlContent {
  color: #333;
}
