ul li {
  list-style-type: none;
}
button:focus {
  outline: none;
}
p {
  line-height: 1.2rem;
  margin-bottom: 5px;
}

.App {
  display: flex;
  width: 100vw;
}
.App.isMobile > .Sidebar {
  width: 100%;
  max-width: 100%;
}

.App > .main {
  flex-grow: 1;
  height: 100vh;
}

.App > .play-logo {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.App.Wellcome .AudiosetLink img {
  margin-right: 1rem;
}
