ul li {
  list-style-type: none;
}

.App {
  display: flex;
  width: 100vw;
}

.App .main {
  flex-grow: 1;
  height: 100vh;
}

.App > .play-logo {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.App .Sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(109, 109, 109);
}

.Sidebar.closed {
  position: fixed;
  background-color: transparent;
  left: 0;
  bottom: 0;
}

.Sidebar.closed .main {
  display: none;
}

.Sidebar .main {
  flex-grow: 1;
  overflow-y: scroll;
}

.Sidebar header img.play-logo {
  padding: 1rem;
  cursor: pointer;
}

.App .AudiosetLink img {
  margin-right: 1rem;
}
