
.Browser .Audiosets .AudiosetItem {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #6a6a6a;
  margin-bottom: 10px;
  padding-right: 1rem;
}
.Browser .Audiosets .AudiosetItem .image {
  width: 34%;
  height: auto;
  max-width: 256px;
  max-height: 256px;
  flex-shrink: 0  ;
  margin-right: 1rem;
}
.Browser .Audiosets .AudiosetItem p {
  max-height: 4.5rem;
  overflow: hidden;
}
.Browser .visuals {
}
.Browser .visuals .Markdown {
  padding: 1rem;
  height: 100%;
}
