.Controller .Clip {
  cursor: pointer;
  color: #333;
  opacity: 0.95;
}
.Controller .Clip:hover {
  opacity: 1;
}
.Controller .Clip .meta {
  flex-grow: 1;
}
.Controller .Clip .title {
  font-size: 1rem;
  margin: 0;
}

.Controller .Clip.open .HtmlContent {
  color: #333;
}
