
.App .content .inside {
  padding: 1rem;
}

.App .Footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
}

.App .Footer .center {
  flex-grow: 1;
}

.App .Footer .icon {
  margin: 4px 4px 0 4px;
}

.App .Footer .icon:hover {
  color: #ccc;
}
